.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.fullScreenImage {
  width: 850px;
  height: 795px;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}


.whiteRectangle {
  position: absolute;
  width: 450px;  /* 可以調整寬度 */
  height: 100px; /* 可以調整高度 */
  background-color: white;
  border-radius: 10px; /* 可選：添加圓角 */
}