.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.imageWrapper {
  width: 360px; 
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  background-color: black; 
}

.fullScreenImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  z-index: 1;
}


.whiteRectangle {
  position: absolute;
  width: 400px;  /* 可以調整寬度 */
  height: 100px; /* 可以調整高度 */
  background-color: white;
  border-radius: 10px; /* 可選：添加圓角 */
}